{% extends 'base.html.twig' %}

{% block content %}

	<section class="container-fluid">
		<h1>Ajout de Technos :</h1>

		<div>
        
            {{ form_start( form, {attr:{novalidate:'novalidate'}} ) }}
                <div>
                    {{ form_label(form.name,'Nom de la techno ') }}
                    {{ form_widget(form.name) }}
                </div>
                <div>
                    {{ form_widget(form.ajouter, { 'label': 'Ajouter' }) }}
                </div>


			{{ form_end( form ) }}

		</div>
	</section>

{% endblock %}
